h1 {
    font-size: 4rem;
    color: #FFFEF7;
    font-family: Chewy;
    margin: 0;
    
}
p {
    font-size: 2rem;
    color: #FFFEF7;
    font-family: Chewy;
    margin: 0;
    
}
body {
    background-color: #E5F0D7;
    text-align: left;
    margin: 0;
    padding: 40px;
}

.titel_block {
    position: relative;
    background-color: #225125;
    padding: 30px;
    padding-bottom: 32px;
    border-radius: 40px;
    border: 5px solid #E5F0D7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    z-index: 1;
}

.karten_block {
    position: relative;
    background-color: #FFFEF7;
    padding: 20px;
    border-radius: 40px;
    margin-top: -50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 0;

    max-width: 800px;
    width: 90%;
}

.karten_block img {
    width: 100%;
    height: auto;
}

.karten_bild {
    width: 700px;
    height: auto;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 800px;  /* gewünschte Breite */
    height: 1300px; /* gewünschte Höhe */
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 90%;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFEF7;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
    height: 400px;  /* gewünschte Höhe */
    padding: 10px;
    margin: 10px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}