h1 {
    font-size: 4rem;
    color: #FFFEF7;
    font-family: Chewy;
    margin: 0;
    letter-spacing: 5px;
}
p {
    font-size: 2rem;
    color: #FFFEF7;
    font-family: Chewy;
    margin: 0;
    letter-spacing: 1px;
}
body {
    background-color: #E5F0D7;
    text-align: left;
    margin: 0;
    padding: 40px;
    font-family: Chewy;
}

/* Desktop-Größen */
.titel_block {
    position: relative;
    background-color: #225125;
    padding: 30px;
    padding-bottom: 32px;
    border-radius: 40px;
    border: 5px solid #E5F0D7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    z-index: 1;
    max-width: 800px;
    width: auto;
    text-align: left;
}

/* Desktop-Texte */
.titel_block h1 {
    font-size: 4rem;
    letter-spacing: 5px;
}

.titel_block p {
    font-size: 2rem;
    letter-spacing: 1px;
}

/* Medium Screens */
@media (max-width: 900px) {
    .titel_block {
        padding: 25px;
        padding-bottom: 28px;
    }

    .titel_block h1 {
        font-size: 3rem;
        letter-spacing: 3px;
    }

    .titel_block p {
        font-size: 1.6rem;
        letter-spacing: 0.5px;
    }
}

/* Kleine Screens / Smartphones */
@media (max-width: 600px) {
    .titel_block {
        padding: 20px;
        padding-bottom: 24px;
        border-radius: 30px;
    }

    .titel_block h1 {
        font-size: 2.2rem;
        letter-spacing: 2px;
    }

    .titel_block p {
        font-size: 1.2rem;
        letter-spacing: 0.3px;
    }
}


.karten_block {
    position: relative;
    background-color: #FFFEF7;
    padding: 20px;
    border-radius: 40px;
    margin-top: -50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 0;
    max-width: 800px;
    width: 90%;
}

.karten_block img {
    width: 100%;
    height: auto;
}

.karten_bild {
    width: 100%;
    height: auto;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 90%;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFEF7;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
    height: 380px;
    margin: 10px;
    padding: 0;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.karte-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 800px;
}

.punkt {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #23A12C;
    border: 3px solid #81D587;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    overflow: hidden;
}

.punkt::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("bilder/blume.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.punkt:hover {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}

.punkt:hover::after {
    opacity: 1;
    transform: scale(1);
}

/* Overlay jetzt ohne Hintergrund */
.overlay {
    position: absolute;
    pointer-events: none;
}

.overlay-content {
    position: absolute;
    background-color: #408945;
    color: white;
    border: 6px solid #E5F0D7;
    border-radius: 75px;
    width: 250px;
    padding: 20px;
    text-align: left;
    letter-spacing: 2px;
    font-family: Chewy;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transform-origin: top left;
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease, left 0.3s ease;
    z-index: 10;
}

.overlay-content.show {
    transform: scale(1);
    opacity: 1;
}

.overlay-content h2 {
    text-align: center;
    font-size: 2.2em;
    margin: 0;
}

.overlay-content hr {
    border: none;
    border-top: 2px solid #b7d9ac;
    margin: 8px 0 16px;
}

.overlay-content .info {
    font-size: 1.2em;
    line-height: 1.8em;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.overlay-content .temp {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: bold;
    border: 3px solid #E5F0D7;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #408945;
}

.block_alle_cities {
    width: auto;
    height: auto;
    padding: 40px;
    background-color: #225125;
    border-radius: 40px;
    border: 5px solid #E5F0D7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

* {
    box-sizing: border-box;
}


.overlay-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px; /* Abstand horizontal + vertikal */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.overlay-block {
    background-color: #3d703f;
    color: white;
    border: 6px solid #d1e8c9;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    min-width: 180px;   /* optional, damit sie nicht zu klein werden */
}

.overlay-block h2 {
    font-size: 2rem;
    margin: 0 0 10px;
}

.overlay-block .info {
    font-size: 1.2rem;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.overlay-block .temp {
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid #b7d9ac;
    border-radius: 50px;
    display: inline-block;
    padding: 5px 15px;
    background-color: #3d703f;
}


/* Responsive Anpassung für Overlays */
@media (max-width: 900px) {
    .overlay-content {
        width: 200px;
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .overlay-content {
        width: 160px;
        font-size: 0.8rem;
        padding: 10px 15px;
    }

    .overlay-content h2 {
        font-size: 1.6rem;
    }

    .overlay-content .temp {
        font-size: 1.8rem;
        padding: 5px 10px;
    }

    .karten_block {
        margin-top: 20px;
    }

    .stadtname {
        display: block;
        font-size: 10px;
    }

    .punkt {
        width: 15px;
        height: 15px;
        border: 2px solid #81D587;
    }
}

.stadtname {
    display: none;
    position: absolute;
    font-family: Chewy;
    color: #225125;
}

/* Kleine Screens: Overlays aus, Namen an */
@media (max-width: 800px) {
    .overlay-content {
        display: none;
    }

    .stadtname {
        display: block;
    }

    .punkt:hover {
        background-color: #23A12C;
        border: 3px solid #81D587;
        width: 20px;
        height: 20px;
    }

    .punkt:hover::after {
        opacity: 0;
    }

    .karten_block img {
        width: 100%;
        height: auto;
        opacity: 80%;
    }
}
